* {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Microsoft Yahei', '微软雅黑', 'sans-serif';
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
input{
    outline: none;
}
button{
    background-color: #EF8911;
    color: #fff;
    border: 1px solid #EF8911;
    outline: none;
}
/* 临时占位 */
img{
    background-color: #F8F8F8;
}

/* 自定义通用 */
.one-line{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.flex-box{
    display: flex;
}
.filler{
    flex: 1;
    width: 0;
    position: relative;
}

/* 页面布局通用 */
header{
    line-height: 90px;
    background-color: #fff;
    position: relative;
    z-index: 9;
}
header.shadow{
    box-shadow: 0 0 50px 4px rgba(229, 135, 24, 0.12);
}
header .logo{
    width: 190px;
    height: 30px;
    margin-right: 70px;
}
header .menu a{
    display: inline-block;
    padding: 0 40px;
    color: #666;
    font-weight: 800;
    font-size: 20px;
}
header .menu a.active{
    color: #EF8911;
}
header .searcher{
    width: 180px;
    height: 25px;
    border: 1px solid #7C7B79;
    margin-top: 32px;
    border-radius: 100px;
    overflow: hidden;
    padding-right: 10px;
}
header .searcher .icon{
    width: 14px;
    height: 14px;
    margin:5px 8px;
}
header .searcher input{
    border: none;
    line-height: 25px;
}
header .options{
    color: #666;
    font-size: 18px;
}
header .options div{
    width:55px;height:33px;border:2px solid rgba(255,157,42,1);border-radius:20px;display:inline-block;position:relative;vertical-align: middle
}
header .options .options1{
    margin-right: 20px
}
header .options .options2{
    background: rgba(255,157,42,1);
}

.top{
    line-height: 90px;
    background-color: #fff;
    position: relative;
    z-index: 9;
}

.top img{
    width: 100%;
    margin-top: 30px;
    margin-right: 70px;
}
.top .article-title{
    width:1200px;
    height:31px;
    font-size:30px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(39,38,37,1);
    line-height:21px;
    text-align: center;
    margin:auto;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    left:18%;
    top:30%;
}
.top .article-author{
    width:500px;
    height:17px;
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(114,112,109,1);
    line-height:21px;
    text-align: left;
    margin:auto;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    left:38%;
    top:55%;
}
.top .article-time{
    width:500px;
    height:17px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(114,112,109,1);
    line-height:21px;
    text-align: left;
    margin:auto;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    left:38%;
    top:70%;
}
.top .article-head{
    width:45px;
    height:45px;
    line-height:21px;
    text-align: left;
    margin:auto;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    left:35%;
    top:42%;
}
.course-title{
    height:19px;
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(103,101,98,1);
    line-height:21px;
    padding-top: 20px;
}
.course-tag{
    width:1200px;
    height:50px;
    background:rgba(252,247,242,1);
    border-radius:4px;
    margin-top: 30px;
}
.course-tag li{
    list-style-type:none;
    text-align:center;
    float: left;
    padding-top: 15px;
    padding-left: 43px;
    height:30px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(103,101,98,1);
    line-height:21px;
    cursor:pointer;
}
.course-list{
    width:226px;
    height:142px;
    margin-bottom: 30px;
    margin-right: 17.2px;
    position:relative;
}
.course-list img{
    width:100%;
    height:142px;
    border-radius:4px;
}
.course-list .course-name{
    width:226px;
    height:17px;
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:21px;
    display: inline-block;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    top:105%;
}
.course-list .course-author{
    width:226px;
    height:13px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:21px;
    display: inline-block;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    top:125%;
}
.options div a{
    position:absolute;
    top: -28px;
    left: 10px;
    font-family:Microsoft YaHei;
    font-weight:400;
}
.errorPrompt span{display: inline-block;font-size:14px;color: #F54C47; line-height: 29px;}
.errorPrompt2 span{display: inline-block;font-size:14px;color: #F54C47; line-height: 29px;}
.errorPrompt2{position: absolute; bottom: 50px; left:0%;}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.section-title{
    height: 70px;
    position: relative;
    color: #676562;
}
.section-title .title{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    line-height: 37px;
    border-bottom: 3px solid #EF8911;
    font-size: 24px;
    font-weight: 800;
    margin-top: 15px;
}
.section-title .more{
    float:right;
    line-height: 70px;
    margin-left: 20px;
}
footer{
    background-color: #5C5247;
    padding-bottom: 50px;
}
footer .slogan{
    line-height: 230px;
    font-weight: 800;
    color: #E2E2E3;
    font-size: 26px;
    text-align: center;
}
footer hr{
    height: 1px;
    background-color: #81858B;
    border: none;
}
footer .map{
    width: 480px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}
footer .map a{
    color: #CECFCF;
}
footer.white{
    background-color: #fff;
    padding: 0;
}
footer.white .slogan{
    display: none;
}
footer.white hr{
    border-top: 1px solid #D2CFD2;
    border-bottom: 1px solid #D2CFD2;
    background-color: #FEFBFF;
    height: 3px;
    width: 1920px;
    position: relative;
    right: 362px;
}
footer.white .map{
    margin-top: 0;
}
footer.white .map a{
    color: #333;
}

.pop-dp-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}
.pop-dp-bg.active{
    opacity: 1;
    visibility: visible;
}
.pop-dp-bg .content{
    width: 1200px;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pop-dp-bg .close{
    background: rgba(0,0,0,0);
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    top: 30px;
    cursor:pointer;
}
.instructor-info,.instructor-video{
    position: absolute;
    left:200px;
    height: auto;
}
.instructor-info img{
    height:348px;
}
.instructor-info .tip2{
    font-size: 16px;
    margin-top: 8px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    overflow: hidden;
    text-align: justify;
}
.instructor-book{
    height: 19px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(103,101,98,1);
    line-height: 21px;
    padding-top: 20px;
}
.instructor-book-list{
    width:180px;
    height:252px;
    margin-bottom: 30px;
    margin-left:50px;
    position: relative;

}
.instructor-book-list img{
    width:180px;
    height:252px;
    border-radius:4px;
}
.instructor-book-list .instructor-name{
    width:180px;
    height:17px;
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:21px;
    display: inline-block;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    top:105%;
    text-align: center;
}
.container2{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 400px;
}
.container3{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 600px;
}
.instructor-video img{
    width:280px;
    height:210px;
    border-radius:4px;
}
.instructor-video .tip2{
    font-size: 16px;
    margin-top: 8px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    overflow: hidden;
    text-align: justify;
}
.instructor-video{
    left: 100px;
}
.certificate-title{
    height:19px;
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(103,101,98,1);
    line-height:21px;
    padding-top: 20px;
}
.certificate-info{
    position: absolute;
    left:200px;
    height: auto;
}
.certificate-info img{
    height:348px;
}
.certificate-info .tip2{
    font-size: 16px;
    margin-top: 30px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    overflow: hidden;
    text-align: justify;
}
.certificate-video{
    height: 19px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(103,101,98,1);
    line-height: 21px;
    padding-top: 20px;
}
.certificate-video-list{
    width:280px;
    height:210px;
    margin-bottom: 45px;
    margin-right:26px;
    position: relative;
    background:rgba(0,0,0,1);
    border-radius:4px;
    overflow: hidden;
}
.certificate-video-list img{
    width:100%;
    height:100%;
    border-radius:4px;
}
.certificate-video-list .certificate-name{
    width:280px;
    height:17px;
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:21px;
    display: inline-block;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    top:105%;
    text-align: center;
}
/*鼠标滑过放大缩小效果*/
.certificate-video-list img{
    transition: all 0.6s;
}
.certificate-video-list img:hover{
    transform: scale(1.2);
}
.couserinfo-info{
    position: relative;
    zoom: 1;
    width: 1200px;
    margin: 0 auto;
    top: 21px;
}
.couserinfo-info img{
    width: 811px;
    height: 510px;
}
.couserinfo-info .detail{
    width:389px;
    height:510px;
    background:rgba(0,0,0,1);
    position: absolute;
    zoom: 1;
    left: 811px;
    top: 0;
}
.couserinfo-info .couserinfo-title{
    height:21px;
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,255);
    line-height:50px;
    position: absolute;
    zoom: 1;
    left: 44px;
    top: 49px;
}
.couserinfo-info .couserinfo-time{
    position: absolute;
    zoom: 1;
    left: 44px;
    top: 100px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(179,179,179,1);
    line-height:50px;
    width: 100px;
    text-align: center;
}
.couserinfo-info .couserinfo-time1{
    height:15px;
    font-size:18px;
    margin-bottom: 10px;
    width: 42px;
}

.couserinfo-info .couserinfo-time2{
    height:13px;
    font-size:12px;
    text-align: left;
}
.couserinfo-info .couserinfo-jianjie{
    position: absolute;
    zoom: 1;
    left: 44px;
    top: 177px;
    width:100px;
    height:17px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,255);
    line-height:50px;
}
.couserinfo-info .couserinfo-content{
    position: absolute;
    zoom: 1;
    left: 44px;
    top: 230px;
    width:304px;
    height:120px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(179,179,179,1);
    line-height:24px;
    text-indent:27px
}
.couserinfo-info .couserinfo-sign{
    position: absolute;
    zoom: 1;
    left: 75px;
    top: 402px;
    width:242px;
    height:50px;
    background:rgba(255,158,43,1);
    border-radius:4px;
}
.couserinfo-info .couserinfo-sign a{
    width:82px;
    height:21px;
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,255);
    line-height:50px;
    position: absolute;
    zoom: 1;
    left: 78px;
}
.couserinfo{
    height: 1000px;
}
.couserinfo .couserinfo-video-title{
    width:200px;
    height:17px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(103,101,98,1);
    line-height:50px;
    padding-top: 10px;
    margin-left: 20px;

}
.couserinfo .specialist {
    height: 100%;
}
.couserinfo .specialist-bg{
    height: 100%;
}
.couserinfo .specialist-bg .couserinfo-video{
    width:850px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    position: relative;
    left: -172px;
    top: 50px;
}
.couserinfo .specialist-bg .couserinfo-video .content-box{
    width:810px;
    height:42px;
    background:rgba(253,242,230,1);
    border:1px solid rgba(251,230,209,1);
    border-radius:1px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.couserinfo .specialist-bg .couserinfo-video .content-box p{
    width:810px;
    height:42px;
    text-align: center;
    margin-top: 10px;
}
.couserinfo .specialist-bg .couserinfo-video .couserinfo-video-info{
    width:810px;
    background:rgba(252,247,242,1);
    border-radius:1px;
    margin: 0 auto;
    position: relative;
    top: 43px;
}
.couserinfo .specialist-bg .couserinfo-video .couserinfo-video-info p{
    width:790px;
    height:52px;
    background:rgba(252,247,242,1);
    border-radius:1px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:50px;
    padding-left: 21px;
    cursor:pointer;
}
.couserinfo .specialist-bg .couserinfo-video .couserinfo-video-info p span{
    width:0;
    height:14px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:50px;
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: 50px;
    left: 300px;
}
.couserinfo .specialist-bg .couserinfo-video-author{
    width:322px;
    height:370px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    position: relative;
    left: 439px;
    top: -350px;
}
.couserinfo .specialist-bg .couserinfo-video-author .couserinfo-video-author-title{
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(103,101,98,1);
    line-height:50px;
    position: relative;
    left: 21px;
    top:21px;
}
.couserinfo .specialist-bg .couserinfo-video-author .couserinfo-video-author-head{
    margin: 0 auto;
    position: relative;
    top:19px;
}
.couserinfo .specialist-bg .couserinfo-video-author .couserinfo-video-author-head img{
    width:61px;
    height:60px;
    box-shadow:0px 5px 9px 0px rgba(4,0,0,0.16);
    border-radius:50%;
    margin-left: 128px;
}
.couserinfo .specialist-bg .couserinfo-video-author .couserinfo-video-author-head p{
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:25px;
    text-align: center;
}
.couserinfo .specialist-bg .couserinfo-video-author .couserinfo-video-author-content{
    width:280px;
    height:78px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(103,101,98,1);
    line-height:30px;
    position: relative;
    zoom: 1;
    left: 21px;
    top: 22px;
    text-indent:27px
}